.marquee {
	overflow: hidden;
	display: flex;
	height: 8rem;
	animation: colorflash 3s linear 0s infinite normal;
}

@keyframes colorflash {
	0%   { background-color: red; }
	25%   { background-color: yellow; }
	50%   { background-color: green; }
	75%   { background-color: blue; }
    100% { background-color: red; }
}

.marquee > img {
	width: 4rem;
	margin-right: 4rem;
	position: absolute;
	animation: marquee 4.5s linear 0s infinite normal;
	display: block;
}

.marquee > img:nth-child(2) {
  animation-delay: -0.5s;
}
.marquee > img:nth-child(3) {
  animation-delay: -1s;
}
.marquee > img:nth-child(4) {
  animation-delay: -1.5s;
}
.marquee > img:nth-child(5) {
  animation-delay: -2s;
}
.marquee > img:nth-child(6) {
  animation-delay: -2.5s;
}
.marquee > img:nth-child(7) {
  animation-delay: -3s;
}
.marquee > img:nth-child(8) {
  animation-delay: -3.5s;
}
.marquee > img:nth-child(9) {
  animation-delay: -4s;
}

@keyframes marquee {
    0%   { left: 6rem; }
    100% { left: 90vw; }
}

#logo {
	
}
#logo > img {
	animation: wizard 1.5s linear 0s infinite normal;
	position: absolute;
	width: 8rem;
	height: 8rem;
}
#logo > img:nth-child(2) {
	animation-delay: -0.5s;
}
#logo > img:nth-child(3) {
	animation-delay: -1s;
}
@keyframes wizard {
    0% { z-index: 3;}
    100% { z-index: 0;}
}