body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #ffd7c3;
	height: 100%;
}

#menuDiv {
	font-size: 1.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#menuDiv > button {
	margin-top: 1rem;
}

#resultDiv {
	display: none;
	font-size: 1.5rem;
	text-align: center;
}

#gameDiv {
	display: none;
	height: 100%;
}

.gameDivRow {
	display: flex;
	flex-direction: row;
}

.gameDivRow > div {
	text-align: center;
}

.buttonDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem auto;
}

button {
	border-radius: 1rem;
	border: none;
	height: 4rem;
	background-color: rgba(64, 150, 0, 0.75);
}

button:hover {
    background-color: rgba(64, 150, 0, 1);
}

button:disabled {
	background-color: rgba(150, 32, 0, 0.75);
}

button:disabled:hover {
	background-color: rgba(150, 32, 0, 1);
}

.voteSlipHalf {
	border: thin solid black;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 12rem;
	height: 18rem;
	visibility: hidden;
}
#leftSlip {
	margin-left: 8rem;
}

#electionName {
	background-color: gray;
	font-size: 1.5rem;
	margin: 0 1rem;
	padding: 0.3rem;
}

#currentVote {
	font-size: 3rem;
	border-radius: 50%;
	display: inline-block;
	width: 4rem;
	height: 4rem;
	background-color: white;
	z-index: 2;
}

.blackCircle {
	border-radius: 50%;
	display: inline-block;
	width: 4.5rem;
	height: 4.5rem;
	background-color: black;
	margin-left: -4.25rem;
	z-index: 1;
}

form {
	display: flex;
	flex-direction: column;
	background-color: cyan;
	height: 12rem;
	margin-left: 6rem;
}

.formRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

label {
	width: 50%;
	margin: 0.25rem;
}
form > span {
	margin: 0.25rem 0.25rem 1rem 0.25rem;
}
input[type=number] {
	width: 50%;
	margin: 0.25rem;
	border: thin solid black;
}

input[type=button] {
	margin: 0.25rem;
	border: thin solid black;
}